<?xml version="1.0"?>

<launch>

  <node name="double_ros_kafka_bridge" pkg="ros1_kafka_bridge" type="double_ros_kafka_bridge.py">
  </node>
  <node name="double_kafka_pro_con" pkg="ros1_kafka_bridge" type="double_kafka_pro_con.py">
  </node>
  <node name="double_ros_pub_sub" pkg="ros1_kafka_bridge" type="double_ros_pub_sub.py">
  </node>
  
</launch>
